<div class="d-flex justify-content-center mb-3">
  <a href="https://github.com/yourusername" target="_blank" class="mx-2 text-dark">
    <i class="bi bi-github fs-4"></i>
  </a>
  <a href="https://linkedin.com/in/yourusername" target="_blank" class="mx-2 text-primary">
    <i class="bi bi-linkedin fs-4"></i>
  </a>
  <a href="https://twitter.com/yourusername" target="_blank" class="mx-2 text-info">
    <i class="bi bi-twitter fs-4"></i>
  </a>
  <a href="mailto:youremail@example.com" class="mx-2 text-danger">
    <i class="bi bi-envelope-fill fs-4"></i>
  </a>
</div>